/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff5733, #33ff57, #5733ff);
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin-bottom: 10px;
}

header img {
    max-width: 100%;
    height: auto;
}

.intro, .skills, .projects {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.skills ul {
    list-style: square;
    margin-left: 20px;
}

.projects .project {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}
